   # Import and discover

In [1]:
import pandas as pd 
import numpy as np 
from collections import Counter
import re

In [2]:
df=pd.read_csv("/Users/Lenovo/Desktop/summer/movie_rec/archive (10)/movies_metadata.csv")
df.info()
df.corr()
df

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_9096\2551648284.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("/Users/Lenovo/Desktop/summer/movie_rec/archive (10)/movies_metadata.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

#                                                Cleaning Phase

In [3]:
df.columns
df.drop(['belongs_to_collection','homepage','poster_path','tagline','spoken_languages','revenue','budget','imdb_id','video','vote_count','production_companies'],axis=1,inplace=True)

In [4]:
df.set_index(df['id'],inplace=True)
df.set_index(df.index.astype(str),inplace=True)

In [5]:
df.loc['82663','title']=df.loc['82663','original_title']
df.loc['2014-01-01','title']=df.loc['2014-01-01','original_title']
df.drop(df[df['title'].isnull()].index,inplace=True)

In [6]:
def clean_title(title):
    title = re.sub("[^0-9 ]", "", title)
    return title
df['id']=df['id'].astype(str).apply(clean_title)
Counter([i!=1 for i in (Counter(df['id'])).values()])

Counter({False: 45403, True: 29})

In [7]:
df=df.reindex(columns=[ 'title','original_title', 'genres', 'original_language', 'overview',
       'popularity', 'production_countries', 'release_date', 'runtime',
       'status', 'vote_average','adult'])
df.columns

Index(['title', 'original_title', 'genres', 'original_language', 'overview',
       'popularity', 'production_countries', 'release_date', 'runtime',
       'status', 'vote_average', 'adult'],
      dtype='object')

In [8]:
df['production_countries']=[i[17:19] for i in df['production_countries'].apply(str)]
ll=df[([len(i)<3 for i in df['genres']])].index
df.loc[ll,'genres']="unkown"
df

,title,original_title,genres,original_language,overview,popularity,production_countries,release_date,runtime,status,vote_average,adult
id,,,,,,,,,,,,
862,Toy Story,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",en,"Led by Woody, Andy's toys live happily in his ...",21.946943,US,1995-10-30,81.0,Released,7.7,False
8844,Jumanji,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,When siblings Judy and Peter discover an encha...,17.015539,US,1995-12-15,104.0,Released,6.9,False
15602,Grumpier Old Men,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",en,A family wedding reignites the ancient feud be...,11.7129,US,1995-12-22,101.0,Released,6.5,False
31357,Waiting to Exhale,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,"Cheated on, mistreated and stepped on, the wom...",3.859495,US,1995-12-22,127.0,Released,6.1,False
11862,Father of the Bride Part II,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",en,Just when George Banks has recovered from his ...,8.387519,US,1995-02-10,106.0,Released,5.7,False
...,...,...,...,...,...,...,...,...,...,...,...,...
439050,Subdue,رگ خواب,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",fa,Rising and falling between a man and woman.,0.072051,IR,NaN,90.0,Released,4.0,False
111109,Century of Birthing,Siglo ng Pagluluwal,"[{'id': 18, 'name': 'Drama'}]",tl,An artist struggles to finish his work while a...,0.178241,PH,2011-11-17,360.0,Released,9.0,False
67758,Betrayal,Betrayal,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",en,"When one of her hits goes wrong, a professiona...",0.903007,US,2003-08-01,90.0,Released,3.8,False
227506,Satan Triumphant,Satana likuyushchiy,unkown,en,"In a small town live two brothers, one a minis...",0.003503,RU,1917-10-21,87.0,Released,0.0,False
461257,Queerama,Queerama,unkown,en,50 years after decriminalisation of homosexual...,0.163015,GB,2017-06-09,75.0,Released,0.0,False

In [9]:
df['genres'] = df['genres'].astype(str)
df['genres']=df['genres'].str.split(' ', expand=True)[3]
df['genres']=df['genres'].astype(str).apply(clean_title)
df

,title,original_title,genres,original_language,overview,popularity,production_countries,release_date,runtime,status,vote_average,adult
id,,,,,,,,,,,,
862,Toy Story,Toy Story,,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,US,1995-10-30,81.0,Released,7.7,False
8844,Jumanji,Jumanji,,en,When siblings Judy and Peter discover an encha...,17.015539,US,1995-12-15,104.0,Released,6.9,False
15602,Grumpier Old Men,Grumpier Old Men,,en,A family wedding reignites the ancient feud be...,11.7129,US,1995-12-22,101.0,Released,6.5,False
31357,Waiting to Exhale,Waiting to Exhale,,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,US,1995-12-22,127.0,Released,6.1,False
11862,Father of the Bride Part II,Father of the Bride Part II,,en,Just when George Banks has recovered from his ...,8.387519,US,1995-02-10,106.0,Released,5.7,False
...,...,...,...,...,...,...,...,...,...,...,...,...
439050,Subdue,رگ خواب,,fa,Rising and falling between a man and woman.,0.072051,IR,NaN,90.0,Released,4.0,False
111109,Century of Birthing,Siglo ng Pagluluwal,,tl,An artist struggles to finish his work while a...,0.178241,PH,2011-11-17,360.0,Released,9.0,False
67758,Betrayal,Betrayal,,en,"When one of her hits goes wrong, a professiona...",0.903007,US,2003-08-01,90.0,Released,3.8,False
227506,Satan Triumphant,Satana likuyushchiy,,en,"In a small town live two brothers, one a minis...",0.003503,RU,1917-10-21,87.0,Released,0.0,False
461257,Queerama,Queerama,,en,50 years after decriminalisation of homosexual...,0.163015,GB,2017-06-09,75.0,Released,0.0,False

# Search Engine

In [10]:

from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(ngram_range=(1,5)) #tfidf fun that search for 1 or couple words called vectorizer

tfidf = vectorizer.fit_transform(df["title"]) #fit column re title so all titles have values using tfidf

In [11]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

def search(title):
    query_vec = vectorizer.transform([title]) #transform the chaine into numbers
    similarity = cosine_similarity(query_vec, tfidf).flatten()#similarity between the query to search nd the fited column tfidf
    indices = np.argpartition(similarity, -5)[-5:]# -5 for the largest 5 values in ordered array by argpartition
    results = df.iloc[indices].iloc[::-1]
    
    return results

In [12]:
import ipywidgets as widgets
from IPython.display import display

movie_input = widgets.Text(
    value='Toy Story',
    description='Movie Title:',
    disabled=False
)
movie_list = widgets.Output()

def on_type(data=df):
    with movie_list:
        movie_list.clear_output()
        title = data["new"]
        if len(title) > 1:
            display(search(title))

movie_input.observe(on_type, names='value')


display(movie_input, movie_list)

Text(value='Toy Story', description='Movie Title:')

Output()

# Recommandation sys

In [15]:
rating=pd.read_csv("/Users/Lenovo/Desktop/summer/movie_rec/archive (10)/ratings_small.csv")
rating
#can't be done cause of ID problems

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]